[submodule "tests/lib/gtest"]
	path = tests/lib/gtest
	url = https://github.com/google/googletest.git
[submodule "custom-tests/vcddiff"]
	path = custom-tests/vcddiff
	url = https://github.com/veripool/vcddiff.git
