[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyparsing = "*"
tqdm = "*"
pyinstaller = "*"

[dev-packages]
ipdb = "*"
pytest = "*"
pytest-cov = "*"
pytest-dependency = "*"

[requires]
python_version = "3.6"
